.sidebar {
    width: 200px;
}

.sidebar-list {
    list-style-type: none;
}

.sidebar-item {
    padding-top: 40px;
}

.main-content {
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.graph {
    width: 50%;
}


