        <!--<div class="sidebar bg-light">
            <ul class="sidebar-list">
              <li class="sidebar-item">
                <a class="btn btn-primary" href="{% url 'imf_data' %}">IMF Data</a>
              </li>
              <div class="dropdown sidebar-item">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    World Bank Data
                  </a>                 
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Consumer Price Inflation (CPI)</a></li>
                    <li><a class="dropdown-item" href="#">Gross Domestic Product (GDP)</a></li>
                    <li><a class="dropdown-item" href="#">Something</a></li>
                  </ul>
              </div>
              <div class="dropdown sidebar-item">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    OECD Data
                  </a>                 
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Consumer Price Inflation (CPI)</a></li>
                    <li><a class="dropdown-item" href="#">Gross Domestic Product (GDP)</a></li>
                    <li><a class="dropdown-item" href="#">Something</a></li>
                  </ul>
              </div>
              <div class="dropdown sidebar-item">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Market Data
                  </a>                 
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Stocks</a></li>
                    <li><a class="dropdown-item" href="#">Bonds</a></li>
                    <li><a class="dropdown-item" href="#">Currencies</a></li>                    </ul>
              </div>
            </ul>
        </div> -->